*
{
	padding: 0px;
	margin: 0px;
}
@font-face
{
	font-family: 'kg';
	src: url(fonts/KGBlankSpaceSketch.ttf);
}
html{scroll-behavior: smooth;}
body
{
	font-family: kg;
	max-width: 100%;
	overflow-x: hidden;
}
#loader
{
	position: fixed;
	width: 100vw;
	height: 100%;
	z-index: 101;
	background:#292F3D url(skins/loader.gif) no-repeat center;
	opacity: 1;
	transition: all ease-in-out 100ms;
}
#home_sec
{
	position: relative;
	/*background-color: #292F3D;*/
	background-image: linear-gradient(135deg, #363F51, #1A1F29);
	height: 100vh;
	border-bottom: 3px solid #FE6732;
}
.mainLogo
{
	position: fixed;
	width: 120px;
	padding: 30px;
	z-index: 100;
	filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.1));
	transition: all ease-in-out 50ms;
}
.mainTitle
{
	font-family: kg;
	font-size: 35px;
	color: white;
	position: absolute;
	/*transform: translate(-50%);*/
	padding: 85px 0px 0px 180px;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.5);
}
.showcase
{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-55%);
	width: 30%;
}
#orange
{
	fill:#F26738;
	filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.2));
}
#yellow
{
	fill:#FBCC0A;
	filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.2));
	animation: yellow 1.5s ease-in-out /*steps(100, start)*/ both infinite;
}
@keyframes yellow
{
	0%{transform: translate(0px);}
	50%{transform: translate(10px,-10px);}
	0%{transform: translate(0px);}
}

#mob1
{

}
#mob2
{

}

#line1, #line2
{
	position: absolute;
	height: 1px;
	background-color: #FE6732;
	width: 15vw;
	top: 50%;
	opacity: 60%;
}
#line1{left: 210px;}
#line2{right: 210px;}

#store_cont
{
	position: absolute;
	left: 50%;
	bottom: 50px;
	transform: translate(-50%);
}
.store
{
	display: inline-block;
	width: 150px;
	margin-right: 10px;
	margin-top: 20px;
	/*opacity: 60%;*/
	filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.5));
	transition: all ease-in-out 50ms;
	/*border: 1px solid #FE6732;*/
	border-radius: 10px;
}
.store:hover
{
	/*margin-top: 7px;*/
	padding-bottom: 8px;
	filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.5));
}

.social_cont
{
	margin-top: 20px;
	/*border: 1px solid #FE6732;*/
}
#fb,#ig
{
	display: inline-block;
}
#icon_fb,#icon_ig
{
	height: 25px;
}
#title_fb, #title_ig
{
	display: inline-block;
	padding: 0px 5px;
	color: #FE6732;
}
#title_fb, #title_ig
{
	top: -5px;
	position: relative;
}
#fb:hover #title_fb
{	
	color: blue;
}
#ig:hover #title_ig
{	
	color: blue;
}
#ig
	{
		margin-left: 50px;
	}

#about_sec
{
	position: relative;
	/*background-color: #F6F6F6;*/
	background-image: linear-gradient(135deg, #F6F6F6, #E2E2E2);
	padding: 80px 0px;
}
.gridLeft
{
	grid-area: GL;
	/*padding-right: 30px;*/
	max-width: 550px;
}
.gridRight
{
	grid-area: GR;
	/*padding-left: 30px;*/
	position: relative;
	left: -30px;
}
.fullGrid
{
	display: grid;
	grid-template-areas: 
	'GL GR';
	position: relative;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#app
{
	width: 80%;
	float: right;
	/*filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.2));*/
	/*padding-right: 20px;*/
}
.head1
{
	margin-top: 140px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 40px;
	color: #292F3D;
}
.details
{
	margin-top: 15px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	padding-left: 25px;
	border-left: 3px solid #FE6732;
	max-width: 480px;

}
.head2
{
	margin-top: 75px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 25px;
	color: #292F3D;
}



#howto_sec
{
	position: relative;
	text-align: center;
}
.line3
{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	height: 4px;
	width: 300px;
	background-color: #FE6732;
}
.head3
{
	padding: 30px 0px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 35px;
	color: #292F3D;
	text-align: center;
}
.video
{
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.1));
	z-index: 2;
	border-radius: .5%;
}
.copyrights
{
	position: relative;
	color: white;
	padding: 15px 0px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 15px;
	/*text-shadow: 0px 0px 6px rgba(0,0,0,0.5);*/
}
.footerBG
{
	position: absolute;
	bottom: 0px;
	height: 50%;
	width: 100vw;
	background-color: #FE6732;
	/*z-index: 1000;*/
}

.hoverEffect1
{
	color: red;
	animation: hoverEffect_a 1.5s ease-in-out /*steps(100, start)*/ both infinite;
}
@keyframes hoverEffect_a
{
	0%{transform: translateY(0px);}
	50%{transform: translateY(-20px);}
	0%{transform: translateY(0px);}
}
.hoverEffect2
{
	color: red;
	animation: hoverEffect_b 1.5s ease-in-out /*steps(100, start)*/ both infinite;
}
@keyframes hoverEffect_b
{
	0%{transform: translateY(0px);}
	50%{transform: translateY(20px);}
	0%{transform: translateY(0px);}
}

#nav
{
	position: fixed;
	right: 0px;
	text-align: right;
	padding: 50px;
	z-index: 10;
}
#nav2
{
	display: none;
}
.tab
{
	height: 25px;
	opacity: 50%;
	transition: all ease-in-out 150ms;
}
.invert
{
	-webkit-filter: invert(.9);
   filter: invert(.9);
}
.tab_active
{
	height: 60px; 
	opacity: 100%;
}

.tab:hover {opacity: 1}

/*----------------------- screen sizes -----------------------*/

@media (max-width: 1367px)
{
	.showcase
	{
		width: 32%;
		top: 53%;
	}
	.gridRight
	{
		left: -90px;
	}
	.details
	{
		max-width: 440px;
		font-size: 14px;
	}
	#app
	{
		float: none;
		width: 75%;
	}
	.fullGrid
	{
		max-width: 1000px;
	}

}

@media (max-width: 1290px)
{
	.fullGrid
	{
		max-width: 960px;
	}
}

@media (max-width: 1200px)
{
	.mainTitle
	{
		padding: 65px 0px 0px 180px;
	}
	.showcase
	{
		width: 40%;
	}
	#line1, #line2
	{
		display: none;
	}
	#nav
	{
		position: absolute;
	}
	#nav2
	{
		display: block;
		position: absolute;

		position: absolute;
		right: 0px;
		text-align: right;
		padding: 50px;
		z-index: 10;

		top: 50px;
	}

	.fullGrid
	{
		grid-template-areas: 'GL' 'GR';
	}
	.gridLeft
	{
		margin-left: auto;
		margin-right: auto;
		max-width: 650px;
		text-align: center;
	}
	.gridRight
	{
		left: 0px;
		margin-right: auto;
		margin-left: auto;
	}
	#app
	{
		position: relative;
		left: -20px;
	}
	.info_cont
	{
		text-align: center;
	}
	.details
	{
		border-left: none;
		padding-left: 0px;
	}
	.head1
	{
		margin-top: 60px;
	}
	.video
	{
		width: 75%;
	}
}

@media (max-width: 1060px)
{
	#nav2
	{
		top: 200px;
	}
}

@media (max-width: 850px)
{
	.mainLogo
	{
		width: 60px;
	}
	.mainTitle
	{
		padding: 44px 30px 0px 0px;

		font-family: kg;
		font-size: 25px;
		color: white;
		position: absolute;
		text-shadow: 4px 4px 3px rgba(0,0,0,0.5);
		right: 0px;
	}
	#nav
	{
		top: 70px;
		padding: 30px;
	}
	.showcase
	{
		width: 70%;
		top: 55%;
	}
	.tab
	{
		height: 20px;
	}
	.tab_active
	{
		height: 30px;
	}
	#store_cont
	{
		bottom: 80px;
		width: 270px;
		text-align: center;
	}
	.store
	{
		width: 120px;
		margin-left: 10px;
		margin-left: 5px;
		margin-right: 5px;
		border-radius: 0px;
	}
	#about_sec
	{
		padding-top: 200px;
		padding-bottom: 80px;
	}
	#nav2
	{
		top: 0px;
		padding: 30px;
	}
	#about_sec
	{
		padding-top: 140px;
	}
	.head1
	{
		font-size: 30px;
		margin-top: 30px;
	}
	.details 
	{
	    margin-left: auto;
	    margin-right: auto;
	    max-width: 290px;
		font-size: 13px;
	}
	.head2
	{
		font-size: 15px;
		margin-top: 65px;
	}
	#ig
	{
		margin-left: 10px;
	}
	#icon_fb, #icon_ig
	{
		height: 20px;
	}
	#title_fb, #title_ig
	{
		font-size: 12px;
	}
	.line3
	{
		width: 210px;
		height: 3px;
	}
	.head3
	{
		font-size: 22px;
		padding: 20px 0px;
	}
	.video
	{
		width: 90%;
	}
	.copyrights
	{
		padding: 5px 0px;
		font-size: 10px;
	}
	.small_logo
	{
		width: 40px;
		padding: 10px;
	}
}